#status-indicator {
  /*border: 1px solid;*/
  user-select: none;
  color: whitesmoke;
  font-family: "Helvetica", serif;
  white-space: nowrap;
}

#status-indicator div {
  /*border: 1px solid;*/
  display: inline-block;
}

@property --progress-value {
  syntax: "<integer>";
  initial-value: 0;
  inherits: false;
}

@keyframes progress {
  to { --progress-value: 0; }
}

#progress-bar {
  border: 1px solid #5b6062;
  vertical-align: middle;
  position: relative;
  width: 47px;
  height: 47px;
  border-radius: 50%;
  background: conic-gradient(#444749 calc(var(--progress-value) * 1%), #2c2d30 0);
  /*radial-gradient(closest-side, white 79%, transparent 80% 100%);*/
  animation: progress 2s 1 reverse;
}

#avatar {
  position: absolute;
  top:5px;
  left: 5px;
}

[data-initials]:before {
  /*background: #f2cb5a;*/
  background: grey;
  color: white;
  opacity: 1;
  content: attr(data-initials);
  display: inline-block;
  font-weight: bold;
  border-radius: 50%;
  vertical-align: middle;
  width: 37px;
  height: 37px;
  line-height: 37px;
  text-align: center;
}

.dot {
  position: absolute;
  bottom: 0;
  right: 0;
  border: 1px solid white;
  /*vertical-align: middle;*/
  /*display: inline-block;*/
  /*margin-left: 10px;*/
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #7D7E7F;
}

.green {
  background-color: #6be051;
}

.red {
  background-color: red;
}

.orange {
  background-color: orange;
}

.blue {
  background-color: #4b86f8;
}

#label {
  /*border: 1px solid;*/
  margin-left: 0.8em;
  margin-right: 5px;
  vertical-align: middle;
}

#label span {
  /*border: 1px solid crimson;*/
  display: block;
}

#botname {
  font-size: 0.9em;
  font-weight: normal;
}

#state {
  color: #cbcaca;
  font-size: 0.9em;
  font-weight: lighter;
}
