<div id="option-bar">
  <div id="option-selectors">
    <ng-select id="models-selector" [items]="models" [(ngModel)]="selectedModel" (change)="onModelChanged()" [clearable]="false">
    </ng-select>
    <ng-select id="prompts-selector" [items]="prompts" [(ngModel)]="selectedPrompt" (change)="onPromptChanged($event)" [clearable]="false">
      <ng-template ng-option-tmp let-item="item" let-index="index">
        <div class="option-template">
          <span class="label">{{item}}</span>
          <div class="buttons-bar">
            <div class="button" title="Edit prompt" (click)="onEditPrompt(item)">
              <div class="icon-aligner"></div>
              <img class="button-icon" src="assets/edit-file.svg" draggable="false">
            </div>
            <div class="button" (click)="onPromptDeleted($event, item)" title="Delete prompt">
              <div class="icon-aligner"></div>
              <img class="button-icon" src="assets/xmark.svg" draggable="false">
            </div>
          </div>
        </div>
      </ng-template>
    </ng-select>
    <div id="upload-prompt" class="button" title="Upload new prompts" (click)="promptInput.click()">
      <div class="icon-aligner"></div>
      <img class="button-icon" src="assets/upload.svg" draggable="false">
      <input type="file" #promptInput style="display: none" (change)="onPromptUploaded($event)" multiple />
    </div>
  </div>
  <div id="indexes-bar">
    <ng-select id="indexes-selector" [items]="indexes"
               [hideSelected]="true"
               bindLabel="name"
               [multiple]="true"
               placeholder="No indexes connected"
               [(ngModel)]="selectedIndexes"
               (add)="onIndexSelected()"
               (remove)="onIndexSelected()"
               (clear)="onIndexSelected()">
    </ng-select>
    <div id="manage-indexes" class="button" title="Manage indexes" (click)="onManageIndexes()">
      <div class="icon-aligner"></div>
      <img class="button-icon" src="assets/toolbox.svg" draggable="false">
    </div>
  </div>
</div>

