#option-bar {
  display: flex;
}

#option-selectors {
  white-space: nowrap;
  flex: 1;
}

#indexes-bar {
  /*border:1px solid salmon;*/
}

#prompts-selector, #models-selector, #indexes-selector {
  display: inline-block;
  vertical-align: top;
  margin-right: 5px;
}

#prompts-selector, #models-selector {
  /*min-width: 100px;*/
  width: 150px;
}

#indexes-selector {
  width: 250px;
}

.option-template {
  display: flex;
  align-items: center;
}

.option-template .label, .option-template .buttons-bar {
  display: inline-block;
  /*border:1px solid red;*/
  vertical-align: middle;
}

.option-template .label {
  flex: 1;
}

/*.option-template .buttons-bar {*/
/*  border: 1px solid red;*/
/*}*/

.option-template .button {
  /*border: 1px solid red;*/
  width: 20px;
  height: 20px;
  user-select: none;
  cursor: pointer;
  border-radius: 4px;
  visibility: hidden;
  display: table-cell;
  text-align: center;
  /*background-color: #55585b;*/
}

.option-template .button:hover {
  /*background-color: #444749;*/
  background-color: #55585b;
}

.option-template:hover .button {
  visibility: visible;
  /*display: table-cell;*/
  /*text-align: center;*/
}

.option-template .button .icon-aligner {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.option-template .button .button-icon {
  vertical-align: middle;
  width: 15px;
  height: 15px;
}

#upload-prompt, #manage-indexes {
  /*border: 1px solid salmon;*/
  display: inline-block;
  width: 36px;
  height: 36px;
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
}

#upload-prompt:hover, #manage-indexes:hover {
  background-color: #444749;
}

#upload-prompt .button-icon, #manage-indexes .button-icon {
  vertical-align: middle;
  width: 20px;
  height: 20px;
}

#upload-prompt .icon-aligner, #manage-indexes .icon-aligner {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
