.container {
  height: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.container-row {
  /*border: 1px solid yellowgreen;*/
  margin-left: 10px;
  margin-right: 10px;
}

top-bar {
  margin-top: 10px;
  margin-bottom: 10px;
  height: 35px;
}

chat-history {
  flex: 1;
  overflow-y: overlay;
  margin-top: 10px;
  border: thin solid #7D7E7F;
  border-radius: 4px;
  background-color: #2c2d30;
  color: white;
}

chat-history::-webkit-scrollbar {
  width: 6px;
}

chat-history::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: #555;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #666;
}

bottom-bar {
  height: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}
