<div class="container" #container>
  <div *ngIf="electron.isElectronApp" id="macos-inset-bar" class="container-row" style="-webkit-app-region: drag"></div>
  <div id="tabs-indicator-wrapper" class="container-row">
    <tabs-bar></tabs-bar>
    <status-indicator></status-indicator>
  </div>
  <option-bar class="container-row"></option-bar>
  <chat-history class="container-row" (drop)="onDrop($event)" (dragover)="onDragOver($event)"></chat-history>
  <bottom-bar class="container-row"></bottom-bar>
</div>
