<div id="bottom-bar">
  <div id="username-input">
    <input type="text" placeholder="Username" [(ngModel)]="username" (change)="onUsernameChanged()">
  </div>
  <div id="message-input" [ngClass]="{'message-input-with-border': !isMultiline}">
    <input *ngIf="!isMultiline" #messageInput type="text" placeholder="Send a message..." [(ngModel)]="message" (keydown.enter)="onSend()" (keydown.arrowUp)="onPrevious()" (keydown)="onKeydown($event)" (paste)="onPaste($event)">
    <textarea *ngIf="isMultiline" #messageTextarea [(ngModel)]="message" (keydown)="onKeydown($event)" (paste)="onPaste($event)"></textarea>
    <div id="speech-bars" class="hidden-bars" #speechBars>
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
    </div>
  </div>
  <div class="button" (click)="onClear()" [title]="clearShortcut">
    <div class="icon-aligner"></div>
    <img class="button-icon" src="assets/trash.svg" draggable="false">
  </div>
  <div class="button" (click)="toggleCam()" [title]="toggleCamShortcut">
    <div class="icon-aligner"></div>
    <img *ngIf="!cameraMuted" class="button-icon" src="assets/video.svg" draggable="false">
    <img *ngIf="cameraMuted" class="button-icon" src="assets/video-muted.svg" draggable="false">
  </div>
  <div class="button" (click)="toggleMic()" [title]="toggleMicShortcut">
    <div class="icon-aligner"></div>
    <img *ngIf="!microphoneMuted" class="button-icon" src="assets/microphone.svg" draggable="false">
    <img *ngIf="microphoneMuted" class="button-icon" src="assets/microphone-muted.svg" draggable="false">
  </div>
  <div class="button" (click)="toggleSpeakers()" [title]="toggleSpeakersShortcut">
    <div class="icon-aligner"></div>
    <img *ngIf="!speakersMuted" class="button-icon" src="assets/speakers.svg" draggable="false">
    <img *ngIf="speakersMuted" class="button-icon" src="assets/speakers-muted.svg" draggable="false">
  </div>
  <div class="button" (click)="onGear()" [title]="gearShortcut">
    <div class="icon-aligner"></div>
    <img class="button-icon" src="assets/gears.svg" draggable="false">
  </div>
</div>

