<div id="bottom-bar">
  <div id="username-input">
    <input type="text" placeholder="Username" [(ngModel)]="username" (change)="onUsernameChanged()">
  </div>
  <div id="message-input">
    <input type="text" placeholder="Send a message..." [(ngModel)]="message" (keydown.enter)="onSend()">
    <div id="speech-bars" class="hidden-bars" #speechBars>
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
    </div>
  </div>
  <div class="button" (click)="onClear()">
    <div class="icon-aligner"></div>
    <img class="button-icon" src="assets/trash.svg">
  </div>
  <div class="button" (click)="toggleCam()">
    <div class="icon-aligner"></div>
    <img *ngIf="!cameraMuted" class="button-icon" src="assets/video.svg">
    <img *ngIf="cameraMuted" class="button-icon" src="assets/video-muted.svg">
  </div>
  <div class="button" (click)="toggleMic()">
    <div class="icon-aligner"></div>
    <img *ngIf="!microphoneMuted" class="button-icon" src="assets/microphone.svg">
    <img *ngIf="microphoneMuted" class="button-icon" src="assets/microphone-muted.svg">
  </div>
  <div class="button" (click)="toggleSpeakers()">
    <div class="icon-aligner"></div>
    <img *ngIf="!speakersMuted" class="button-icon" src="assets/speakers.svg">
    <img *ngIf="speakersMuted" class="button-icon" src="assets/speakers-muted.svg">
  </div>
  <div class="button" (click)="onGear()">
    <div class="icon-aligner"></div>
    <img class="button-icon" src="assets/gears.svg">
  </div>
</div>

