<div class="container">
  <div class="option-row">
    <p class="option-label">Server address : </p>
    <div id="input-wrapper">
      <input type="text" [(ngModel)]="serverAddress" (change)="onAddressChanged()">
      <div class="dot" #urlIndicator></div>
    </div>
  </div>
  <hr/>
  <div class="option-row">
    <p class="option-label">Input device : </p>
    <select class="device-selector" id="indevice-selector" name="indevice" [(ngModel)]="selectedInDevice" (change)="onInDeviceChanged()">
      <option *ngFor="let device of inDevices" [value]="device.label">{{device.label}}</option>
    </select>
  </div>
  <div class="option-row">
    <p class="option-label">Output device : </p>
    <select class="device-selector" id="outdevice-selector" name="outdevice" [(ngModel)]="selectedOutDevice" (change)="onOutDeviceChanged()">
      <option *ngFor="let device of outDevices" [value]="device.label">{{device.label}}</option>
    </select>
  </div>
  <div class="option-row">
    <p class="option-label">Video input : </p>
    <select class="device-selector" id="camera-selector" name="camera" [(ngModel)]="selectedCamDevice" (change)="onCamChanged()">
      <option *ngFor="let device of cameraDevices" [value]="device.label">{{device.label}}</option>
    </select>
  </div>
  <hr/>
  <div class="option-row">
    <p class="option-label">Input volume : </p>
    <input class="slider" type="range" min="0" [max]="maxDbs" [(ngModel)]="selectedNoiseThreshold" (change)="onThresholdChanged()">
  </div>
  <div class="option-row">
    <p class="option-label">Input level : </p>
    <div id="level" #inputLevel>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
</div>
