.container {
  /*border: 1px solid crimson;*/
  margin: 10px 10px 0 10px;
}

.option-label {
  user-select: none;
  color: whitesmoke;
  font-family: ".AppleSystemUIFont", serif;
  display: inline-block;
  margin-right: 10px;
}

.device-selector {
  user-select: none;
  width: 200px;
  text-overflow: ellipsis;
  display: inline-block;
}

.slider {
  width: 200px;
  -webkit-appearance: none;
  height: 7px;
  border-radius: 5px;
  /*background: #acb0b5;*/
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 27px;
  border-radius: 25%;
  background: #2667a8;
  cursor: pointer;
}

hr {
  margin: 15px 0 15px 0;
  height: 2px;
  background-color: #7D7E7F;
  border: none;
}

.option-row {
  margin-bottom: 7px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.option-row:last-child {
  margin-top: 15px;
}

.option-row p {
  margin: 0;
}

#level {
  width: 200px;
  text-align: center;
}

#level span {
  border-radius: 2px;
  display: inline-block;
  background-color: #7D7E7F;
  width: 4%;
  height: 20px;
  margin: 0 2.5px 0 2.5px;
}

#level .activeLevel {
  background-color: #BCBDBD;
}
