#tabs-bar {
  display: flex;
}

.left-border-visible {
  border-left:1px solid #7D7E7F;
}

.right-border-visible {
  border-right:1px solid #7D7E7F;
}

#tabs-container, .vertical-sep {
  height: 37px;
}

#tabs-container {
  /*border-left:1px solid #7D7E7F;*/
}

#new-tab {
  flex-shrink: 0;
  width: 37px;
}

.vertical-sep {
  /*width: 1px;*/
  background-color: #7D7E7F;
  margin: 0 5px 0 0;
}

#tabs-container {
  white-space: nowrap;
  overflow-x: scroll;
}

#tabs-container::-webkit-scrollbar {
  display: none;
}

.icon-aligner {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.button {
  user-select: none;
  /*border:1px solid white;*/
  cursor: pointer;
  border-radius: 4px;
  width: 25px;
  display: table-cell;
  text-align: center;
}

.button:hover {
  background-color: #444749;
}

.button-icon {
  vertical-align: middle;
  width: 25px;
  height: 25px;
}

.tab {
  padding-right: 5px;
  width: 120px;
  height: 35px;
  /*margin-top: 1px;*/
  margin-right: 5px;
  border: thin #7D7E7F solid;
  border-radius: 4px;
  /*background-color: #2c2d30;*/
  display: inline-flex;
  justify-content: space-between;
  align-items: center; /*vertical align flexed elements*/
  /*overflow: hidden;*/
}

.tab:hover, .tab:hover input {
  background-color: #2c2d30;
}

/*.tab-selected {*/
/*  border: thin white solid;*/
/*}*/

.tab-selected input::placeholder {
  color: white;
}

.tab .button {
  display: inline-block;
}

input {
  user-select: none;
  cursor: default;
  display: inline-block;
  flex: 1;
  width: 90%;
  height: 100%;
  padding: 0 0 0 5px;
  border: 0;
  border-radius: 4px;
  background-color: #1f2020;
  color: white;
  text-overflow: ellipsis;
}

input:focus {
  outline: none;
}
